DASHBOARD_USERNAME=hr
DASHBOARD_PASSWORD=change-me
DASHBOARD_AUTH_SECRET=change-me-to-a-long-random-string
GOOGLE_SCHEDULE_API_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
GOOGLE_SCHEDULE_API_TOKEN=match-the-script-property-SCHEDULE_WEB_TOKEN
